<html>
    <Title>IMDB Dataset</Title>
    <head>
        <H2>Welcome to the IMDB Dataset</H2>
        <script src = ../index.js></script>
    </head>

    <body>
        <h3>Actions:</h3>
        <a id = "readData" onclick="readData()">Read Data</a>
        
        <dl>
            <a href="/centralread">All<br/></a>
            <a href="/node2read">Before 1980<br/></a>
            <a href="/node3read">During and After 1980<br/></a>
        </dl>
        
        <a href="/editData">Edit Data</a>
    </body>
</html>